<!doctype html>
<html><!-- InstanceBegin template="/Templates/miyama.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>miyama</title>
<style>
#miyama{
	display:flex;
	}
	#imgmiyama2{
		width:250px;
		height:150px;
		float:left;
		margin-right:2%;
		}
		#imgmiyama3{
		width:250px;
		height:150px;
		float:left;
		margin-right:2%;
		}
		#imgmiyama4{
		width:250px;
		height:150px;
		float:left;
		margin-right:2%;
		}
		p{
			text-align:justify;
	padding:0px 15px;
	
			}
			</style>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<link href="estilomiyama.css" rel="stylesheet" type="text/css">
<body>
    <section id="contenedor">
        <header>
            <img src="imagen/miyama.jpg" alt="miyama" id="logo">
            <h2>inicio</h2>
        </header>

        <nav>
            <ul id="menu">
            <li><a href="miyamaeditable.html">nuestra historia</a></li>
            <li><a href="comentarios-miyama.html">comentarios</a></li>
            <li><a href="articulos-miyama.html">articulos</a></li>
            <li><a href="eventos-miyama.html">eventos especiales</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="ubicacion-miyama.html">ubicacion</a></li>s
            <li><a href="contactos-miyama.html">contactanos</a></li>
        </ul>
        </nav>

        <section id="documento">
			<!-- InstanceBeginEditable name="EditRegion3" --><section id="miyama">
<article>
<p>
<img src="imagen/sushi.jpg" id="imgmiyama2" alt="miyamaimg2">
Este fin de semana he estado por Madrid y, como no podía ser de otra manera, quise aprovechar la ocasión para probar algunos restaurantes japoneses de los que me habían hablado muy bien y que quería probar personalmente. Lo cierto es que mi breve visita sólo dio para ir a comer a un par de sitios, uno de ellos el Miyama Castellana. Pero os aseguro que cenar allí justificó con creces el trayecto de ida y vuelta en el AVE. Estad atentos, porque en breve os contaré cuál fue el otro restaurante japonés de Madrid donde comí. Pero ahora dejad que os relate mi experiencia en el Miyama de Castellana.
Situado en plena Castellana, un par de manzanas más abajo del Hesperia Madrid, encontramos un espacio mininalista pero muy acogedor, flanqueado por una barra de sushi con capacidad para once comensales y varias mesas con capacidad para otras sesenta personas. Miyama Castellana es el tercer establecimiento que abre Hiroo Miki, propietario del Kanpai y del restaurante Miyama de la calle Flor Baja, heredero del mítico Tokio Taro de Masao Kikuchi.
</p>
<p>
<img src="imagen/maki-aguacate.jpg" id="imgmiyama3" alt="miyamaimg3">
El polivalente jefe de cocina, Hiroshi Isomura, se encarga de la elaboración del sushi y sashimi mientras desde el lado izquierdo de la barra, la ubicación más próxima al área de cocción (yakiba 焼き場), supervisa personalmente todo lo que sale de la cocina. En el extremo opuesto de la barra encontramos al chef de sushi Junji Odaka, formado en el restaurante Suntory de Akasaka y procedente del desaparecido Shitarory madrileño. Pero la guinda final, nunca mejor dicho, la pone Hiroshi Kobayashi, maitre y sumiller del restaurante, que dirige la sala y también prepara unos magníficos cócteles.
Empezamos con un maki de aguacate con queso y piñones. El (norimaki 海苔巻き) lo presentan frito (furai フライ), rebozado con (panko パン粉). Este tipo de agemono se diferencia del tempura porque a la fritura se le añade pan rallado.
</p>
<p>
<img src="imagen/sushi2.jpg" id="imgmiyama4" alt="miyamaimg4">
Continuamos con un sabroso ceviche de chicharro, también llamado jurel, aderezado con salsa cítrica (ponzu ポン酢). El plato se completaba con (sashimi 刺身) de pez limón, o si lo preferís, lecha (hamachi ハマチ en japonés), sashimi de pulpo y sashimi de atún, acompañado con nabo daikon rallado y alga tosaka fresca, también conocida como cresta de gallo por su característica forma. El sushi de maguro venía envuelto como un norimaki, pero en este caso no podemos decir que se trate de sushi, sino de sashimi, porque no llevaba arroz.
</p>
</article>
</section>
<!-- InstanceEndEditable -->
        </section>

        <footer>
	        <h4>todos los derechos reservados</h4>
        </footer>
    </section>
</body>
<!-- InstanceEnd --></html>
