<!doctype html>
<html><!-- InstanceBegin template="/Templates/miyama.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>miyama</title>
<style>
#miyama{
	display:flex;
	}
	#imgmiyama{
		width:450px;
		height:280px;
		}
		p{
			text-align:justify;
	padding:0px 15px;
			}
			</style>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<link href="estilomiyama.css" rel="stylesheet" type="text/css">
<body>
    <section id="contenedor">
        <header>
            <img src="imagen/miyama.jpg" alt="miyama" id="logo">
            <h2>inicio</h2>
        </header>

        <nav>
            <ul id="menu">
            <li><a href="miyamaeditable.html">nuestra historia</a></li>
            <li><a href="comentarios-miyama.html">comentarios</a></li>
            <li><a href="articulos-miyama.html">articulos</a></li>
            <li><a href="eventos-miyama.html">eventos especiales</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="ubicacion-miyama.html">ubicacion</a></li>s
            <li><a href="contactos-miyama.html">contactanos</a></li>
        </ul>
        </nav>

        <section id="documento">
			<!-- InstanceBeginEditable name="EditRegion3" --><h2>restaurante miyama</h2>
<section id="miyama">
<article>
<p>
Un autentico lujo
De momento, el mejor Sushi que he probado. Todo a un nivel altísimo en calidad y un servicio ejemplar. Esperamos volver.
Fecha de la visita: junio de 2019

Estupendo
Nos ha encantado. El servicio impecable, nos han recomendado unos platos muy ricos, una cena perfecta.
Fecha de la visita: junio de 2019

Japón en la Castellana
Acudimos recomendado por un amigo casado con una japonesa y el resultado fue espectacular. Nos dejamos sorprender por un menú seleccionado de 5 platos todos fantásticos. La comida me recordó mi visita a Japón y disfruté de unos platos perfectamente elaborados, con una muy buena selección de productos.
En cuanto al personal, en todo momento muy profesional y atento.
Precio elevado, pero que compensa con la alta calidad.
Mostrar menos
Fecha de la visita: mayo de 2019

Japonés buena comida y ambiente
Buena comida japonesa y en un ambiente agradable, comimos un menú de 28 Euros p/p muy completo a un precio razonable
</p>
</article>
</section><!-- InstanceEndEditable -->
        </section>

        <footer>
	        <h4>todos los derechos reservados</h4>
        </footer>
    </section>
</body>
<!-- InstanceEnd --></html>
